*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  padding: 0;
  margin: 0; }

a:active {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: var(--mainColor);
  cursor: default; }

html,
body {
  height: 100%; }

.container {
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto; }

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

main {
  overflow: hidden;
  flex: 1 1 auto; }

a {
  font-family: 'Open Sans', sans-serif;
  color: var(--lightBrownLinks); }

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
  padding: 15px 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: var(--lightBrownHeaderNoscroll); }

.header--scrolled {
  background: var(--lightBrownHeader); }

.header--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header--logo {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal; }

.header--logo img {
  display: block;
  width: auto;
  max-height: 36px; }

.logo--icon {
  margin-right: 10px; }

.logo--text {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff; }

.header--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav--list a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear; }

.nav--list a:hover {
  color: var(--lightBrown); }

.nav--list:not(:last-child) {
  margin-right: 30px; }

.nav--list-active {
  color: var(--lightBrown); }

.button {
  padding: 8px 25px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  cursor: pointer; }

.burger-menu {
  display: none;
  top: 0px;
  right: 0px;
  z-index: 100; }

#menuToggle {
  display: block;
  position: relative;
  z-index: 100;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#menuToggle input {
  display: block;
  width: 48px;
  height: 30px;
  position: absolute;
  top: -4px;
  left: -4px;
  cursor: pointer;
  opacity: 0;
  z-index: 100;
  -webkit-touch-callout: none; }

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
  -ms-transform-origin: 4px 0px;
  transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%; }

#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
  -ms-transform: rotate(45deg) translate(-2px, -1px);
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--lightBrown) !important; }

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
  -ms-transform: rotate(0deg) scale(0.2, 0.2);
  transform: rotate(0deg) scale(0.2, 0.2); }

#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  -webkit-transform: rotate(-45deg) translate(0, -1px);
  -ms-transform: rotate(-45deg) translate(0, -1px);
  transform: rotate(-45deg) translate(0, -1px); }

#menu {
  position: absolute;
  pointer-events: none;
  width: 440px;
  height: 200vh;
  margin: -100px 0 0 0;
  padding: 20px;
  padding-top: 130px;
  right: -100px;
  background: #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  -o-transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #2c2c2c;
  padding-right: 90px; }

#menuToggle input:checked ~ ul {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 1; }

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-out;
  -o-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
  pointer-events: none; }

.nav-box--link {
  display: block;
  padding: 12px 10px; }

.active {
  color: var(--lightBrownLinks) !important; }

.backdrop {
  position: fixed !important;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-out;
  -o-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
  pointer-events: none;
  position: relative; }

.burger-menu-link li {
  margin-bottom: 50px; }

.hero {
  position: relative;
  padding-top: 134px;
  padding-bottom: 40px;
  min-height: 100vh;
  background-blend-mode: multiply; }
  .hero__body {
    display: flex;
    align-items: flex-end; }
  .hero__content {
    max-width: 591px;
    padding: 40px;
    position: relative;
    color: var(--secondaryColor);
    border: 4px solid var(--secondaryColor); }
  .hero__title {
    font-family: 'Black Han Sans';
    font-weight: 400;
    font-size: 96px; }
  .hero__descr {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 30px; }

.load {
  position: absolute;
  z-index: -1;
  display: block;
  align-self: center;
  justify-self: center;
  left: 50%; }

.YTPOverlay {
  position: relative; }
  .YTPOverlay::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3); }

.playerBox {
  margin-top: 0 !important;
  margin-left: 0 !important; }

.latest {
  padding: 60px 0;
  background: var(--lightGrey); }
  .latest__body {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .latest__title {
    font-family: PT Sans, sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.1;
    color: var(--latestTitle);
    margin-bottom: 50px; }
  .latest__content {
    display: flex;
    justify-content: center;
    margin: -15px; }
  .latest__column {
    padding: 15px;
    flex: 1 0 33%; }

.lc__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 374px;
  border: 1px solid var(--latestBorder);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
  padding: 30px 20px;
  background: var(--secondaryColor);
  overflow: hidden; }
.lc__image {
  cursor: pointer;
  max-width: 325px;
  height: auto;
  margin-bottom: 15px;
  overflow: hidden; }
  .lc__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease-in-out; }
  .lc__image:hover img {
    transform: scale(115%); }
.lc__descr {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: var(--latestDescr);
  text-transform: capitalize;
  margin-bottom: 15px; }
.lc__title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: var(--mainColor); }

.about {
  padding: 60px 0;
  background: var(--aboutBGcolor); }
  .about__body {
    display: flex; }

.about-body__column-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 100px;
  margin-right: -90px;
  flex: 1 0 40%; }
.about-body__column-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 60%; }

.abcl {
  position: relative;
  z-index: 1; }
  .abcl__image {
    cursor: pointer; }
    .abcl__image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease-in-out; }
  .abcl__image-1 {
    width: 377px;
    height: 493px;
    position: relative;
    z-index: 1;
    overflow: hidden; }
    .abcl__image-1:hover img {
      transform: scale(115%); }
  .abcl__image-2 {
    position: absolute;
    top: 550px;
    left: 0px;
    z-index: 2;
    width: 298px;
    height: 262px;
    border: 12px solid var(--lightBrown);
    overflow: hidden; }
    .abcl__image-2:hover img {
      transform: scale(115%); }

.abcr__text-content {
  max-width: 527px;
  padding: 30px;
  padding-left: 125px; }
.abcr__title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--aboutTitle);
  margin-bottom: 20px; }
.abcr__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: var(--secondaryColor);
  margin-bottom: 80px; }
.abcr__image {
  cursor: pointer; }
  .abcr__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out; }
.abcr__image-1 {
  position: relative;
  z-index: 2;
  width: 497px;
  height: 308px;
  margin-bottom: 60px;
  transition: transform 0.3s ease-out; }
  .abcr__image-1:hover {
    transform: scale(115%); }
.abcr__image-2 {
  position: relative;
  z-index: 2;
  flex: 0 0 50%;
  width: 264px;
  height: 272px;
  overflow: hidden; }
  .abcr__image-2:hover img {
    transform: scale(115%); }

.itc {
  display: flex;
  max-width: 497px; }
  .itc__text-content {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    width: 100%; }
  .itc__title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--lightBrown);
    margin-bottom: 20px; }
  .itc__social {
    display: flex;
    font-size: 24px;
    padding: 8px 0;
    border-top: 2px solid var(--lightBrown);
    border-bottom: 2px solid var(--lightBrown);
    margin: -5px;
    margin-bottom: 20px; }
    .itc__social li {
      flex: 0 0 25%;
      padding: 5px;
      transition: all 0.2s ease-in; }
      .itc__social li i {
        color: var(--lightBrown);
        transition: all 0.2s ease-in; }
      .itc__social li:hover {
        transform: scale(130%); }
        .itc__social li:hover i {
          color: #c3a88d; }
  .itc__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--lightBrown); }

.tour {
  padding: 60px 0; }
  .tour__container {
    position: relative; }
  .tour__background-square {
    position: absolute;
    top: 180px;
    left: 0px;
    z-index: -1;
    background: var(--lightBrownHeader);
    width: 100%;
    height: 286px; }
  .tour__body {
    display: flex;
    margin: -20px;
    max-width: 861px;
    margin: 0 auto; }

.tour-body__column {
  flex: 1 0 50%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column; }
.tour-body__column-right {
  padding-top: 50px;
  padding-bottom: 60px; }

.tbcl__img {
  width: 410px;
  height: 527px;
  margin-bottom: 40px;
  cursor: pointer;
  overflow: hidden; }
  .tbcl__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out; }
  .tbcl__img:hover img {
    transform: scale(115%); }
.tbcl__text {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--mainColor); }

.tbcr__title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
  color: var(--aboutTitle);
  margin-bottom: 20px; }
.tbcr__img {
  width: 410px;
  height: 632px;
  cursor: pointer;
  overflow: hidden; }
  .tbcr__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out; }
  .tbcr__img:hover img {
    transform: scale(115%); }

.interesting {
  padding: 60px 0;
  background: var(--lightGrey); }
  .interesting__body {
    display: flex;
    justify-content: center;
    margin: -20px;
    padding: 0 80px; }

.ib-column {
  padding: 20px;
  flex: 1 0 50%; }
  .ib-column__image {
    cursor: pointer; }
    .ib-column__image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease-in-out; }
    .ib-column__image:hover img {
      transform: scale(115%); }
  .ib-column__image-1 {
    width: 100%;
    height: 571px;
    overflow: hidden; }
  .ib-column__text-content {
    position: relative;
    z-index: 2;
    max-width: 410px;
    padding: 30px;
    background: var(--secondaryColor);
    box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-top: -95px; }
  .ib-column__image-2 {
    width: 100%;
    height: 802px;
    overflow: hidden; }

.ibctc__title {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: var(--mainColor);
  text-transform: uppercase;
  margin-bottom: 20px; }
.ibctc__text {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: var(--mainColor); }

.information {
  padding: 60px 0; }
  .information__body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 0; }
  .information__bg-square {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    max-width: 570px;
    max-height: 100%;
    width: 100%;
    height: 100%;
    background: var(--informationSquareColor); }

.ic__image-bg {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 100%;
  background: var(--lightBrown); }
.ic__image {
  position: relative;
  z-index: 2;
  width: 657px;
  height: 412px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 100px; }
  .ic__image img {
    width: 100%;
    height: 100%;
    object-position: top;
    object-fit: cover;
    transition: transform 0.3s ease-in-out; }
  .ic__image:hover img {
    transform: scale(115%); }
.ic__text-content {
  max-width: 715px; }

.ictc__title {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 48px;
  text-transform: capitalize;
  line-height: 1.1;
  color: var(--lightBrown);
  margin-bottom: 18px; }
.ictc__text {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: var(--mainColor); }

.aboutus-body {
  display: flex;
  max-height: 518px; }
  .aboutus-body__column {
    flex: 1 0 50%;
    overflow: hidden; }
    .aboutus-body__column img {
      cursor: pointer;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: transform 0.3s ease-in-out; }
    .aboutus-body__column:hover img {
      transform: scale(115%); }
  .aboutus-body__column-right {
    padding: 30px;
    background: var(--aboutusBGColor); }

.abbcr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .abbcr__descr {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--secondaryColor);
    margin-bottom: 20px; }
  .abbcr__title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    color: var(--aboutusTitle);
    margin-bottom: 20px; }
  .abbcr__text {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--secondaryColor); }

.footer {
  color: var(--secondaryColor);
  background-color: var(--lightBrownHeader);
  padding: 60px 0 0; }

.footer--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.footer--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: -12px;
  margin-bottom: 40px; }

.ft--items {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 33%;
  flex: 1 0 33%;
  padding: 12px; }

.ft--left-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.fli--logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer; }

.fli--logo img {
  display: block;
  width: auto;
  max-height: 36px; }

.fli--logo-text {
  font-size: 28px;
  color: var(--secondaryColor); }

.fli--address {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: var(--secondaryColor);
  margin-bottom: 30px; }

.fli--phone-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: var(--secondaryColor); }

.fli--text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: var(--secondaryColor); }

.fli--mail {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: var(--secondaryColor);
  margin-bottom: 20px; }

.fli--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.fli--social-item {
  display: block;
  line-height: 1;
  padding: 8px 0;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.fli--social-item:hover {
  background: var(--secondaryColor);
  text-decoration: none; }

.fli--social-item:hover i {
  color: var(--lightBrownHeader); }

.fli--social-item:not(:last-child) {
  margin-right: 8px; }

.fli--social-item i {
  font-size: 18px;
  color: var(--secondaryColor);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.fci--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.fci--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.fci--link span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: var(--secondaryColor); }

.fci--link span:hover {
  color: var(--lightBrownLinks); }

.fci--link:not(:last-child) {
  margin-bottom: 20px; }

.fci--link i {
  font-size: 12px;
  color: var(--lightBrown);
  margin-right: 8px; }

.fri--title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: var(--secondaryColor);
  margin-bottom: 20px; }

.fri--text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--secondaryColor); }

.footer--bottom {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid var(--secondaryColor);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondaryColor); }

@media only screen and (max-width: 1200px) {
  .latest__column {
    max-width: 330px; }

  .lc__image {
    max-width: 258px;
    height: 231px; }

  .ib-column__text-content {
    max-width: 317px; }

  .about-body__column-left {
    margin-right: -40px; } }
@media only screen and (max-width: 992px) {
  .container {
    max-width: 960px; }

  .header--nav {
    display: none; }

  .burger-menu {
    display: block; }

  .hero {
    min-height: 635px; }

  .hero__title {
    font-size: 72px; }

  .hero__descr {
    font-size: 36px; }

  .latest__content {
    flex-wrap: wrap; }

  .latest__column {
    max-width: 360px;
    flex: 1 0 50%; }

  .lc__image {
    max-width: 308px;
    height: 231px; }

  .abcl__image-1 {
    width: 325px;
    height: 412px; }

  .abcr__image-1 {
    width: 378px;
    height: 234px;
    margin-bottom: 30px; }

  .abcl__image-2 {
    width: 252px;
    height: 224px;
    top: 490px; }

  .abcr__image-2 {
    width: 204px;
    height: 288px; }

  .abcr__text-content {
    max-width: 405px;
    padding: 30px;
    padding-left: 110px; }

  .abcr__text {
    margin-bottom: 10px; }

  .itc {
    max-width: 375px;
    align-items: center; }

  .itc__text-content {
    padding: 18px; }

  .itc__social li {
    padding: 0; }

  .tour__body {
    flex-wrap: wrap; }

  .tour-body__column {
    flex: 1 0 100%;
    max-width: 623px;
    width: 100%;
    margin: 0 auto;
    padding: 0; }

  .tour-body__column-left {
    order: 2; }

  .tour-body__column-right {
    order: 1;
    padding-bottom: 0;
    margin-bottom: 40px; }

  .tbcl__img {
    max-width: 623px;
    max-height: 910px;
    width: 100%;
    height: 100%; }

  .tbcl__text {
    max-width: 623px;
    width: 100%; }

  .tbcr__title {
    align-self: flex-start; }

  .tbcr__img {
    max-width: 623px;
    max-height: 1027px;
    width: 100%;
    height: 100%; }

  .interesting__body {
    flex-wrap: wrap;
    padding: 0 60px; }

  .ib-column {
    flex: 1 0 100%;
    max-width: 900px;
    width: 100%;
    margin: 0 auto; }

  .ib-column__text-content {
    max-width: 640px; }

  .footer--top {
    flex-wrap: wrap; }

  .ft--left-item:first-child {
    margin-bottom: 40px; }

  .playerBox {
    width: 1775px !important;
    height: 1089px !important;
    top: -189px !important; } }
@media only screen and (max-width: 880px) {
  .container {
    max-width: 845px; }

  .about__body {
    flex-wrap: wrap; }

  .about-body__column-left {
    flex: 1 0 100%;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    order: 2; }

  .about-body__column-right {
    flex: 1 0 100%;
    order: 1;
    align-items: center;
    margin-bottom: 40px; }

  .abcr__text-content {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    padding: 0;
    padding-left: 0; }

  .abcr__text {
    margin-bottom: 40px; }

  .abcr__image-1 {
    width: 100%;
    height: auto; }

  .itc {
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%; }

  .abcr__image-2 {
    flex: 1 0 100%;
    width: 100%;
    height: auto; }

  .itc__text-content {
    flex: 1; }

  .abcl__image-1 {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    margin-bottom: 40px; }

  .abcl__image-2 {
    position: relative;
    left: 0;
    top: 0;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border: none;
    margin-bottom: 40px; }

  .tour-body__column {
    padding: 0; }
    .tour-body__column:first-child {
      margin-bottom: 40px; }

  .aboutus-body {
    flex-wrap: wrap;
    max-height: 100%; }

  .aboutus-body__column-left {
    max-height: 518px; }

  .aboutus-body__column-right {
    padding: 45px; }

  .aboutus-body__column {
    flex: 1 0 100%; }

  .interesting__body {
    padding: 0 15px; } }
@media only screen and (max-width: 740px) {
  .container {
    max-width: 720px; }

  .hero__body {
    justify-content: center; }

  .latest__title {
    font-size: 55px; }

  .latest__column {
    max-width: 538px;
    width: 100%;
    flex: 1 0 100%; }

  .lc__image {
    max-width: 480px;
    max-height: 322px;
    width: 100%;
    height: 100%; }

  .information__body {
    width: 100%;
    padding: 0px 15px 50px; }

  .ic__image {
    max-width: 100%;
    width: 100%; }

  .ic__image-bg {
    display: none; }

  .ic__image {
    margin-bottom: 30px; }

  .ic__text-content {
    max-width: 570px;
    width: 100%; }

  .ictc__title {
    font-size: 33px; }

  .ictc__text {
    font-size: 18px; }

  .ft--items {
    flex: 1 0 100%; }

  .playerBox {
    width: 1269px !important;
    height: 1016px !important;
    top: -117px !important; } }
@media only screen and (max-width: 600px) {
  .hero {
    min-height: 450px; }

  .hero__title {
    font-size: 48px; }

  .hero__descr {
    font-size: 24px; }

  .latest__title {
    font-size: 36px; }

  .abcr__title {
    font-size: 36px; }

  .itc__title {
    font-size: 18px; }

  .itc__social {
    font-size: 18px; }

  .tbcr__title {
    font-size: 36px; } }
@media only screen and (max-width: 460px) {
  .ib-column__image-1 {
    height: 415px; }

  .ibctc__title {
    font-size: 24px; }

  .ib-column__image-2 {
    height: 430px; } }
@media only screen and (max-width: 380px) {
  .hero {
    padding-top: 80px; }

  .hero__content {
    padding: 20px; }

  .hero__title {
    font-size: 36px; }

  .hero__descr {
    font-size: 18px; } }

/*# sourceMappingURL=style.css.map */
