$darkGrey: var(--mainColor);
$white: var(--secondaryColor);
$grayConcrete: var(--latestTitle);
$lightGray: var(--lightGrey);
$lightGrayDescr: var(--latestDescr);
$silver: var(--latestBorder);
$lightBrown: var(--lightBrown);
$lightBrownLink: var(--lightBrownLinks);
$tumbleweed: var(--lightBrownHeader);
$tumbleweedNoScoll: var(--lightBrownHeaderNoscroll);
$signalGrey: var(--aboutTitle);
$timberWolf: var(--informationSquareColor);
$signalGreyBG: var(--aboutusBGColor);
$greyGreenTea: var(--aboutusTitle);
